# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
  #tags:
  #  include: 
  #  - Mobile-*
  #  - Alpha-*
  #  - Bravo-*
  branches:
    include:
      - Feature*
      - Hotfix*
      - Release-*
    exclude:
      - master
  paths:
    exclude:
    - README.md
    - /docs/*
pr:
  branches:
    include:
    - master
    - Development
    - Release-*

pool:
  vmImage: 'vs2017-win2016'

name: $(TeamProject)_$(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)

variables:
  CI_NAME: Azure Pipelines
  CI_BUILD_ID: $(Build.BuildId)
  GIT_BRANCH: $[ coalesce(variables['System.PullRequest.SourceBranch'], variables['Build.SourceBranchName'], 'not-found') ]
  GIT_COMMIT_SHA: $[ coalesce(variables['System.PullRequest.SourceCommitId'], variables['Build.SourceVersion'], 'not-found') ]
  MS_BUILD_DEFAULT_ARGS: /P:Configuration=Release;DeployOnBuild=true;PackageLocation="$(Build.ArtifactStagingDirectory)\Co-ConstructSite.zip"
  
steps:

#- template: build/azure-pipelines/print-build-diagnostics.yml
- template: build/azure-pipelines/build.yml

#0) Generate Diagnostic Output
#- template: build/azure-pipelines/print-build-diagnostics.yml  # Template reference

#1) Rebuild Co-Construct Site Solution

#- template: build/azure-pipelines/rebuild-cocon-solution.yml  # Template reference

#2) Build Main Site Project
#- template: build/azure-pipelines/build-mainsite-project.yml  # Template reference

#3) BUild Mobile API Project
#- template: build/azure-pipelines/build-mobileapi-project.yml  # Template reference

# 4)Build File Server Project
#- template: build/azure-pipelines/build-fileserver-project.yml  # Template reference

#5) Copy EmailProcessor
#- template: build/azure-pipelines/copy-emailprocessor-zip.yml  # Template reference

#6) Copy TaskProcessor
#- template: build/azure-pipelines/copy-taskprocessor-zip.yml  # Template reference

#7) Publish Artifacts
#- template: build/azure-pipelines/publish-artifacts.yml  # Template reference
