# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
  branches:
    include:
      - refs/heads/*
  paths:
    exclude:
    - README.md
    - /docs/*
pr:
  branches:
    include:
    - master
    - Development

#force

pool:
    name: 'Hosted VS2017'
    vmImage: vs2017-win2016
    demands: MSBuild

name: $(TeamProject)_$(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)

variables:
  BUILD_PLATFORM: 'Any CPU'
  BUILD_CONFIGURATION: 'Release'
  BUILD_PRECOMPILE_ARGS: 'EnableUpdateable=false;'
  BUILD_PRECOMPILE: ''
  BRANCH_TRACK: 'INITIAL BRANCH TRACK'
  AA_BranchTrack: 'AA_BranchTrack'
  AB_BranchTrack: 'AB_BranchTrack'
  AC_BranchTrack: 'AC_BranchTrack'
  AD_BranchTrack: 'AD_BranchTrack'
  AE_BranchTrack: 'AE_BranchTrack'
  BranchInfo: "Initial Value"
  SAUCE_USERNAME: ""
  SAUCE_USER_KEY: ""

steps:


- powershell: ./setEnvironmentVariables.ps1 "item1" "item2"
#- template: build/azure-pipelines/build.yml
- template: build/azure-pipelines/get-predefined-vars.yml
- template: build/azure-pipelines/set-branch-track.yml
- template: build/azure-pipelines/get-branch-track.yml
#- template: build/azure-pipelines/test-environment.yml
#- template: build/azure-pipelines/set-branch-track.yml
#- template: build/azure-pipelines/set-msbuild-parameter-vars.yml

#- template: build/azure-pipelines/build-app-01.yml
#- template: build/azure-pipelines/find-postbuild-items.yml

#1) Rebuild Co-Construct Site Solution
#- template: build/azure-pipelines/rebuild-cocon-solution.yml

#2) Build Main Site Project
#- template: build/azure-pipelines/build-mainsite-project.yml

#3) BUild Mobile API Project

# 4) Build File Server Project

#5) Copy EmailProcessor

#6) Copy TaskProcessor

#7) Publish Artifacts
#- template: build/azure-pipelines/publish-artifacts.yml

- task: GithubRelease@0 
  displayName: 'Create GitHub Release'      
  inputs:
    githubConnection: GitHub-PAT
    repositoryName: brian-dudick/git-sandbox-azdevops
    tagSource: manual
    tag: $(Build.BuildNumber)      
    #assets: |
    #     $(Build.ArtifactStagingDirectory)/*.exe
    #     $(Build.ArtifactStagingDirectory)/README.txt
