# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
  #tags:
  #  include: 
  #  - Mobile-*
  #  - Alpha-*
  #  - Bravo-*
  branches:
    include:
      - Feature*
      - Hotfix*
      - Release-*
    exclude:
      - master
  paths:
    exclude:
    - README.md
    - /docs/*
pr:
  branches:
    include:
    - master
    - Development
    - Release-*

pool:
  vmImage: 'Ubuntu-16.04'

name: $(TeamProject)_$(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)

steps:
- script: echo Hello, world!
  displayName: 'Run a one-line script'

- script: |
    echo Add other tasks to build, test, and deploy your project.
    echo See https://aka.ms/yaml
  displayName: 'Run a multi-line script'

- template: build/azure-pipelines/build.yml  # Template reference

#1) Rebuild Co-Construct Site Solution
#- template: build/azure-pipelines/rebuild-cocon-solution.yml  # Template reference

#2) Build Main Site Project

#3) BUild Mobile API Project

# 4) Build File Server Project

#5) Copy EmailProcessor

#6) Copy TaskProcessor

#7) Publish Artifacts

