# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
  #tags:
  #  include: 
  #  - Mobile-*
  #  - Alpha-*
  #  - Bravo-*
  branches:
    include:
      - Feature*
      - Hotfix*
      - Release-*
    exclude:
      - master
  paths:
    exclude:
    - README.md
    - /docs/*
pr:
  branches:
    include:
    - master
    - Development
    - Release-*

pool:
  vmImage: 'Ubuntu-16.04'

name: $(TeamProject)_$(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)

steps:
- script: echo Hello, world!
  displayName: 'Run a one-line script'

- script: |
    echo Add other tasks to build, test, and deploy your project.
    echo See https://aka.ms/yaml
  displayName: 'Run a multi-line script'

#1) Rebuild Co-Construct Site Solution
- template: build/azure-pipelines/rebuild-cocon-solution.yml  # Template reference

#2) Build Main Site Project
- template: build/azure-pipelines/build-mainsite-project.yml  # Template reference

#3) BUild Mobile API Project
- template: build/azure-pipelines/build-mobileapi-project.yml  # Template reference

# 4)Build File Server Project
- template: build/azure-pipelines/build-fileserver-project.yml  # Template reference

#5) Copy EmailProcessor
- template: build/azure-pipelines/copy-emailprocessor-zip.yml  # Template reference

#6) Copy TaskProcessor
- template: build/azure-pipelines/copy-taskprocessor-zip.yml  # Template reference

#7) Publish Artifacts

- template: ci-templates/run-single-line-script.yml  # Template reference

- template: ci-templates/run-multi-line-script.yml  # Template reference
